In [ ]:
# This program adds two numbers

num1 = 1.5
num2 = 6.3

# Add two numbers
sum = num1 + num2

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 1.5 and 6.3 is 7.8

In simple way

In [ ]:

num1 = 1.5
num2 = 6.3
sum = num1 + num2
print("The sum is " + str(sum))

The sum is 7.8

In [ ]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 1.5
Enter second number: 6.3
The sum of 1.5 and 6.3 is 7.8

OR

In [ ]:
num1=input("enter first number:")
num2=input("enter the second number:")
sum=float(num1)+float(num2)
print("The final number is:" + str(sum))

enter first number:1.5
enter the second number:6.30
The final number is:7.8

In [ ]:
# Python Program to calculate the square root

# Note: change this value for a different result
num = 8 

# To take the input from the user
#num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 8.000 is 2.828

In [ ]:
num=8
sqrt=num**0.5
print("the square root of %0.3f of %0.3f "%(num,sqrt))

the square root of 8.000 of 2.828

In [ ]:
import cmath
num=4
sqrt=cmath.sqrt(num)
sqrt

(2+0j)

In [ ]:
mylist=[1,2,3,4,5,6,7,8]
for item in mylist:
  print(item)

1
2
3
4
5
6
7
8

In [ ]:
mylist=[1,2,3,4,5,6,7,8]
for item in mylist:
  print("The numbers are:"+ str(item) +'\n')

The numbers are:1

The numbers are:2

The numbers are:3

The numbers are:4

The numbers are:5

The numbers are:6

The numbers are:7

The numbers are:8

printing even numbers in a list:

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
#priting evens
for num in mylist:
  if num%2==0:
    print(num)
  else:
    print('odd numbers: ' + str(num))

odd numbers: 1
2
odd numbers: 3
4
odd numbers: 5
6
odd numbers: 7
8
odd numbers: 9
10

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
#priting evens
for num in mylist:
  if num%2==0:
    print(num)
  else:
    print("an odd number" + str(num))

an odd number1
2
an odd number3
4
an odd number5
6
an odd number7
8
an odd number9
10

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
mynum=0
for num in mylist:
  mynum=mynum + num
print(mynum)

55

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
 print(num)

1
2
3
4
5
6
7
8
9
10

tuple unpacking

In [ ]:
mylist=[(1,2,3),(4,5,6),(7,8,9,)]
for num in mylist:
  print(num)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [ ]:
mylist=[(1,2,3),(4,5,6),(7,8,9,)]
for a,b,c in mylist:
  print(a)
  print(b)
  print(c)

1
2
3
4
5
6
7
8
9

d

In [ ]:
mydic={'key_1':1,'key_2':2,'key_3':3,'key-4':4}
for item in mydic:
  print(item)

key_1
key_2
key_3
key-4

In [ ]:
mydic={'key_1':1,'key_2':2,'key_3':3,'key-4':4}
for item in mydic.items():
  print(item)

('key_1', 1)
('key_2', 2)
('key_3', 3)
('key-4', 4)

In [ ]:
mydic={'key_1':1,'key_2':2,'key_3':3,'key-4':4}
for item,values in mydic.items():
  print(item)
  print(values)

key_1
1
key_2
2
key_3
3
key-4
4

In [ ]:
mydic={'key_1':1,'key_2':2,'key_3':3,'key-4':4}
for values in mydic.values():
  print(values)

1
2
3
4

In [ ]:
#1 Importing the libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
#2 Importing the dataset:
dataset = pd.read_csv(/content/50_Startups.csv)
#Y: dependent variable vector
#In the first run X’s type is object due to the different types of #independent variables.State column contains categorical variables
X= dataset.iloc[:, :-1].values
Y=dataset.iloc[:, 4].values
#3 Encoding the categorical variables:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
#Change the text into numbers 0,1,2
X[: ,3]= labelencoder_X.fit_transform(X[: ,3])
onehotencoder= OneHotEncoder(categorical_features=[3])
#turn the numbers to dummy variables. Each column represents one #state compare the X and dataset tables to understand the #relationship between the state and the columns
X= onehotencoder.fit_transform(X).toarray()
#4 Avoid the dummy variables trap
#Delete the first column represent the California
X= X[:, 1:]
#5 Splitting the dataset into the Training and Test dataset
#train_set_split: Split arrays or matrices into random train and #test subsets. %20 of the dataset to the test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.2, random_state=0)
#6 Fit multiple Linear Regression model to our Train set
from sklearn.linear_model import LinearRegression
#Create an object called regressor in the LinearRegression class…
regressor = LinearRegression()
#Fit the linear regression model to the training set… We use the fit #method the arguments of the fit method will be training sets
 
regressor.fit(X_train,Y_train)
#7 Predicting the Test set results:
y_pred= regressor.predict(X_test)

SyntaxError: ignored